.checkbox{
  display: flex;
  flex-direction: column;
}
.checkboxAndTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonAndTitle{
  display: flex;
  align-items: center;

}
.selectionButton{
  border: 1px solid #f4af16;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
  &_disabled {
    background-color: #f4af16;
  }
}
.expandButton{
  display: flex;
  align-items: center;
  &_disabled {
    display: none;
  }
}
.buttonAndText{
  display: flex;
  align-items: center;

}
